HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
ENCRYPTION_KEY=tobemodified
PUBLIC_URL=http://localhost:1337
UPLOAD_MAX_FILE_SIZE_MB=10
# Node: headersTimeout must be <= requestTimeout (see config/server.ts)
UPLOAD_REQUEST_TIMEOUT_MS=360000
UPLOAD_HEADERS_TIMEOUT_MS=300000
UPLOAD_KEEP_ALIVE_TIMEOUT_MS=65000
